<wrapper>
    <counter></counter>
    <counter></counter>
    <counter></counter>
    <counter></counter>
    <counter></counter>
    <counter></counter>
</wrapper>

<!-- <wrapper2>
    <span>This is not a counter</span>
    <counter></counter>
</wrapper2> -->

<!-- <wrapper2>
    <ng-container>
        <counter></counter>
      </ng-container>
</wrapper2> -->
<!-- <wrapper2>
  <ng-container ngProjectAs="counter">
    <counter></counter>
  </ng-container>
</wrapper2> -->

<router-outlet></router-outlet>
